# Spark API

In [1]:
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [2]:
spark

For demonstration, we'll create a spark dataframe from a pandas dataframe.

In [3]:
import numpy as np
import pandas as pd
import pydataset

In [4]:
tips = pydataset.data('tips')
df = spark.createDataFrame(tips)
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

## DataFrame Basics

In [5]:
df.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [6]:
df.head(5)

[Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=23.68, tip=3.31, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=24.59, tip=3.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=4)]

In [7]:
# Don't do this!
# just use .show to view df contents
df2 = df.show(10)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 10 rows

In [8]:
type(df2)

NoneType

### Selecting Columns

In [9]:
df.select('total_bill', 'tip', 'size', 'day').show()

+----------+----+----+---+
|total_bill| tip|size|day|
+----------+----+----+---+
|     16.99|1.01|   2|Sun|
|     10.34|1.66|   3|Sun|
|     21.01| 3.5|   3|Sun|
|     23.68|3.31|   2|Sun|
|     24.59|3.61|   4|Sun|
|     25.29|4.71|   4|Sun|
|      8.77| 2.0|   2|Sun|
|     26.88|3.12|   4|Sun|
|     15.04|1.96|   2|Sun|
|     14.78|3.23|   2|Sun|
|     10.27|1.71|   2|Sun|
|     35.26| 5.0|   4|Sun|
|     15.42|1.57|   2|Sun|
|     18.43| 3.0|   4|Sun|
|     14.83|3.02|   2|Sun|
|     21.58|3.92|   2|Sun|
|     10.33|1.67|   3|Sun|
|     16.29|3.71|   3|Sun|
|     16.97| 3.5|   3|Sun|
|     20.65|3.35|   3|Sat|
+----------+----+----+---+
only showing top 20 rows

In [10]:
df.select('*')

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint]

In [11]:
df.select(df.tip / df.total_bill).show(5)

+-------------------+
| (tip / total_bill)|
+-------------------+
|0.05944673337257211|
|0.16054158607350097|
|0.16658733936220846|
| 0.1397804054054054|
|0.14680764538430255|
+-------------------+
only showing top 5 rows

In [12]:
col = df.tip / df.total_bill
col

Column<'(tip / total_bill)'>

In [13]:
df.select('*', col.alias('tip_pct')).show(5)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+
only showing top 5 rows

In [14]:
df_with_tip_pct = df.select('*', col.alias('tip_pct'))

In [15]:
df_with_tip_pct.show(5)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+
only showing top 5 rows

### Selecting w/ Built In Functions

In [16]:
from pyspark.sql.functions import sum, mean, concat, lit, regexp_extract, regexp_replace, when

In [17]:
df.select(mean(df.tip), sum(df.total_bill)).show()

+----------------+-----------------+
|        avg(tip)|  sum(total_bill)|
+----------------+-----------------+
|2.99827868852459|4827.769999999999|
+----------------+-----------------+

In [18]:
df.select(concat('day', lit(' '), 'time')).show(5)

+--------------------+
|concat(day,  , time)|
+--------------------+
|          Sun Dinner|
|          Sun Dinner|
|          Sun Dinner|
|          Sun Dinner|
|          Sun Dinner|
+--------------------+
only showing top 5 rows

In [19]:
df.select(df.time.cast('int')).show(5)

+----+
|time|
+----+
|null|
|null|
|null|
|null|
|null|
+----+
only showing top 5 rows

In [52]:
df = df.select(
    '*',
    (df.tip / df.total_bill).alias('tip_pct')
)

In [54]:
df.show()

+----------+----+------+------+---+------+----+-------------------+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+-------------------+
only showing top 20 rows

### When / Otherwise

In [21]:
df.select(
    'tip_pct',
    (when(df.tip_pct > .2, 'good tip')
     .otherwise('not good tip')
     .alias('tip_desc'))
).show(25)

+-------------------+------------+
|            tip_pct|    tip_desc|
+-------------------+------------+
|0.05944673337257211|not good tip|
|0.16054158607350097|not good tip|
|0.16658733936220846|not good tip|
| 0.1397804054054054|not good tip|
|0.14680764538430255|not good tip|
|0.18623962040332148|not good tip|
|0.22805017103762829|    good tip|
|0.11607142857142858|not good tip|
|0.13031914893617022|not good tip|
| 0.2185385656292287|    good tip|
| 0.1665043816942551|not good tip|
|0.14180374361883155|not good tip|
|0.10181582360570687|not good tip|
|0.16277807921866522|not good tip|
|0.20364126770060686|    good tip|
|0.18164967562557924|not good tip|
| 0.1616650532429816|not good tip|
|0.22774708410067526|    good tip|
|0.20624631703005306|    good tip|
|0.16222760290556903|not good tip|
|0.22767857142857142|    good tip|
|0.13553474618038444|not good tip|
|0.14140773620798985|not good tip|
|0.19228817858954844|not good tip|
|0.16044399596367306|not good tip|
+-------------------+------------+
only showing top 25 rows

### Regex

In [55]:
df.select(
    'time',
    regexp_extract('time', r'(\w).{3}', 1).alias('first_letter'),
    regexp_replace('time', r'[aeiou]', 'X')
).show(5)

+------+------------+-----------------------------------+
|  time|first_letter|regexp_replace(time, [aeiou], X, 1)|
+------+------------+-----------------------------------+
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
+------+------------+-----------------------------------+
only showing top 5 rows

## Mini Exercise

In [56]:
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

### Spark Dataframe Basics

- Use the starter code above to create a pandas dataframe.
- Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.
- Show the first 3 rows of the dataframe.
- Show the first 7 rows of the dataframe.
- View a summary of the data using .describe.
- Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.
- Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.
- Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.
- Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [58]:
df1 = spark.createDataFrame(pandas_dataframe)
df1.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [59]:
df1.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [60]:
df1.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [62]:
df1.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.36640264498852165| null|
| stddev| 0.8905322898155364| null|
|    min| -1.261605945319069|    x|
|    max| 2.1503829673811126|    z|
+-------+-------------------+-----+

In [69]:
df1.select('n', 'abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

In [74]:
#rename
df1.select('group', df1.abool.alias('a_boolean_value')).show(5)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
|    y|          false|
|    z|          false|
+-----+---------------+
only showing top 5 rows

In [76]:
df1.select('group', df1.n.alias('a_numeric_value')).show(5)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
+-----+--------------------+
only showing top 5 rows

### Column Manipulation

- Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df

- Use .select to add 4 to the n column. Show the results.

- Subtract 5 from the n column and view the results.

- Multiply the n column by 2. View the results along with the original numbers.

- Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

- Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

- What happens when you run the code below?

- df.group + df.abool
    - What happens when you run the code below? What is the difference between this and the previous code sample?

- df.select(df.group + df.abool)
    - Try adding various other columns together. What are the results of combining the different data types?

In [80]:
df2 = spark.createDataFrame(pandas_dataframe)
df2.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [86]:
df2.select('n',(df2.n + 4).alias('n+4')).show()

+--------------------+------------------+
|                   n|               n+4|
+--------------------+------------------+
|  -0.712390662050588|3.2876093379494122|
|   0.753766378659703| 4.753766378659703|
|-0.04450307833805...|3.9554969216619464|
| 0.45181233874578974|  4.45181233874579|
|  1.3451017084510097|5.3451017084510095|
|  0.5323378882945463| 4.532337888294546|
|  1.3501878997225267| 5.350187899722527|
|  0.8612113741693206|  4.86121137416932|
|  1.4786857374358966| 5.478685737435897|
| -1.0453771305385342| 2.954622869461466|
| -0.7889890249515489|3.2110109750484512|
|  -1.261605945319069| 2.738394054680931|
|  0.5628467852810314| 4.562846785281032|
|-0.24332625188556253|3.7566737481144377|
|  0.9137407048596775| 4.913740704859677|
| 0.31735092273633597| 4.317350922736336|
| 0.12730328020698067| 4.127303280206981|
|  2.1503829673811126| 6.150382967381113|
|  0.6062886568962988| 4.606288656896298|
|-0.02677164998644...|3.9732283500135592|
+--------------------+------------------+

In [87]:
df2.select('n',(df2.n - 5).alias('n-5')).show()

+--------------------+-------------------+
|                   n|                n-5|
+--------------------+-------------------+
|  -0.712390662050588| -5.712390662050588|
|   0.753766378659703| -4.246233621340297|
|-0.04450307833805...| -5.044503078338053|
| 0.45181233874578974|  -4.54818766125421|
|  1.3451017084510097|-3.6548982915489905|
|  0.5323378882945463| -4.467662111705454|
|  1.3501878997225267|-3.6498121002774733|
|  0.8612113741693206|  -4.13878862583068|
|  1.4786857374358966| -3.521314262564103|
| -1.0453771305385342| -6.045377130538534|
| -0.7889890249515489| -5.788989024951549|
|  -1.261605945319069| -6.261605945319069|
|  0.5628467852810314| -4.437153214718968|
|-0.24332625188556253| -5.243326251885563|
|  0.9137407048596775| -4.086259295140323|
| 0.31735092273633597| -4.682649077263664|
| 0.12730328020698067| -4.872696719793019|
|  2.1503829673811126|-2.8496170326188874|
|  0.6062886568962988| -4.393711343103702|
|-0.02677164998644...| -5.026771649986441|
+--------------------+-------------------+

Type casting

Use the starter code above to re-create a spark dataframe.

Use .printSchema to view the datatypes in your dataframe.

Use .dtypes to view the datatypes in your dataframe.

What is the difference between the two code samples below?

df.abool.cast('int')
df.select(df.abool.cast('int')).show()
Use .select and .cast to convert the abool column to an integer type. View the results.

Convert the group column to a integer data type and view the results. What happens?

Convert the n column to a integer data type and view the results. What happens?

Convert the abool column to a string data type and view the results. What happens?

Built-in Functions

Use the starter code above to re-create a spark dataframe.
Import the necessary functions from pyspark.sql.functions
Find the highest n value.
Find the lowest n value.
Find the average n value.
Use concat to change the group column to say, e.g. "Group: x" or "Group: y"
Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"

In [ ]:
When / Otherwise

Use the starter code above to re-create a spark dataframe.
Use when and .otherwise to create a column that contains the text "It is true" when abool is true and "It is false"" when abool is false.
Create a column that contains 0 if n is less than 0, otherwise, the original n value.

## Transforming Rows

In [23]:
df.show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

### Sorting

In [24]:
df.orderBy(df.total_bill).show()

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|            tip_pct|
+----------+----+------+------+----+------+----+-------------------+
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|0.32573289902280134|
|      5.75| 1.0|Female|   Yes| Fri|Dinner|   2|0.17391304347826086|
|      7.25| 1.0|Female|    No| Sat|Dinner|   1|0.13793103448275862|
|      7.25|5.15|  Male|   Yes| Sun|Dinner|   2|  0.710344827586207|
|      7.51| 2.0|  Male|    No|Thur| Lunch|   2| 0.2663115845539281|
|      7.56|1.44|  Male|    No|Thur| Lunch|   2|0.19047619047619047|
|      7.74|1.44|  Male|   Yes| Sat|Dinner|   2|0.18604651162790697|
|      8.35| 1.5|Female|    No|Thur| Lunch|   2|0.17964071856287425|
|      8.51|1.25|Female|    No|Thur| Lunch|   2|0.14688601645123384|
|      8.52|1.48|  Male|    No|Thur| Lunch|   2|0.17370892018779344|
|      8.58|1.92|  Male|   Yes| Fri| Lunch|   1|0.22377622377622378|
|      8.77| 2.0|  Male|    No| Sun|Dinner|   2|0.22805017103762829|
|      9.55|1.45|  Male|    No| Sat|Dinner|   2| 0.1518324607329843|
|       9.6| 4.0|Female|   Yes| Sun|Dinner|   2| 0.4166666666666667|
|      9.68|1.32|  Male|    No| Sun|Dinner|   2|0.13636363636363638|
|      9.78|1.73|  Male|    No|Thur| Lunch|   2| 0.1768916155419223|
|      9.94|1.56|  Male|    No| Sun|Dinner|   2|0.15694164989939638|
|     10.07|1.83|Female|    No|Thur| Lunch|   1| 0.1817279046673287|
|     10.07|1.25|  Male|    No| Sat|Dinner|   2|0.12413108242303872|
|     10.09| 2.0|Female|   Yes| Fri| Lunch|   2|0.19821605550049554|
+----------+----+------+------+----+------+----+-------------------+
only showing top 20 rows

In [25]:
df.sort(df.day, df.size).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|      8.58|1.92|  Male|   Yes|Fri| Lunch|   1|0.22377622377622378|
|     16.27| 2.5|Female|   Yes|Fri| Lunch|   2|0.15365703749231716|
|     11.35| 2.5|Female|   Yes|Fri|Dinner|   2|0.22026431718061676|
|     28.97| 3.0|  Male|   Yes|Fri|Dinner|   2|0.10355540214014498|
|     22.49| 3.5|  Male|    No|Fri|Dinner|   2|0.15562472209871056|
|     10.09| 2.0|Female|   Yes|Fri| Lunch|   2|0.19821605550049554|
|     13.42|1.58|  Male|   Yes|Fri| Lunch|   2|0.11773472429210134|
|     15.38| 3.0|Female|   Yes|Fri|Dinner|   2|0.19505851755526657|
|     27.28| 4.0|  Male|   Yes|Fri|Dinner|   2|0.14662756598240467|
|      5.75| 1.0|Female|   Yes|Fri|Dinner|   2|0.17391304347826086|
|     12.03| 1.5|  Male|   Yes|Fri|Dinner|   2|0.12468827930174564|
|     12.16| 2.2|  Male|   Yes|Fri| Lunch|   2|0.18092105263157895|
|     21.01| 3.0|  Male|   Yes|Fri|Dinner|   2| 0.1427891480247501|
|     16.32| 4.3|Female|   Yes|Fri|Dinner|   2|0.26348039215686275|
|     12.46| 1.5|  Male|    No|Fri|Dinner|   2| 0.1203852327447833|
|     22.75|3.25|Female|    No|Fri|Dinner|   2|0.14285714285714285|
|     13.42|3.48|Female|   Yes|Fri| Lunch|   2| 0.2593144560357675|
|     15.98| 3.0|Female|    No|Fri| Lunch|   3|0.18773466833541927|
|     40.17|4.73|  Male|   Yes|Fri|Dinner|   4| 0.1177495643515061|
|      3.07| 1.0|Female|   Yes|Sat|Dinner|   1|0.32573289902280134|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [26]:
from pyspark.sql.functions import asc, desc, col

In [27]:
df.sort(df.day, asc('time'), desc('size')).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     40.17|4.73|  Male|   Yes|Fri|Dinner|   4| 0.1177495643515061|
|     22.49| 3.5|  Male|    No|Fri|Dinner|   2|0.15562472209871056|
|     27.28| 4.0|  Male|   Yes|Fri|Dinner|   2|0.14662756598240467|
|     12.03| 1.5|  Male|   Yes|Fri|Dinner|   2|0.12468827930174564|
|     16.32| 4.3|Female|   Yes|Fri|Dinner|   2|0.26348039215686275|
|     12.46| 1.5|  Male|    No|Fri|Dinner|   2| 0.1203852327447833|
|     21.01| 3.0|  Male|   Yes|Fri|Dinner|   2| 0.1427891480247501|
|     11.35| 2.5|Female|   Yes|Fri|Dinner|   2|0.22026431718061676|
|      5.75| 1.0|Female|   Yes|Fri|Dinner|   2|0.17391304347826086|
|     22.75|3.25|Female|    No|Fri|Dinner|   2|0.14285714285714285|
|     15.38| 3.0|Female|   Yes|Fri|Dinner|   2|0.19505851755526657|
|     28.97| 3.0|  Male|   Yes|Fri|Dinner|   2|0.10355540214014498|
|     15.98| 3.0|Female|    No|Fri| Lunch|   3|0.18773466833541927|
|     13.42|3.48|Female|   Yes|Fri| Lunch|   2| 0.2593144560357675|
|     12.16| 2.2|  Male|   Yes|Fri| Lunch|   2|0.18092105263157895|
|     10.09| 2.0|Female|   Yes|Fri| Lunch|   2|0.19821605550049554|
|     13.42|1.58|  Male|   Yes|Fri| Lunch|   2|0.11773472429210134|
|     16.27| 2.5|Female|   Yes|Fri| Lunch|   2|0.15365703749231716|
|      8.58|1.92|  Male|   Yes|Fri| Lunch|   1|0.22377622377622378|
|     28.15| 3.0|  Male|   Yes|Sat|Dinner|   5|0.10657193605683837|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [28]:
col('size').asc()

Column<'size ASC NULLS FIRST'>

In [29]:
df.sort(col('size').desc(), col('time')).show()

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|            tip_pct|
+----------+----+------+------+----+------+----+-------------------+
|     48.17| 5.0|  Male|    No| Sun|Dinner|   6|0.10379904504878555|
|      34.3| 6.7|  Male|    No|Thur| Lunch|   6|0.19533527696793004|
|      29.8| 4.2|Female|    No|Thur| Lunch|   6|0.14093959731543623|
|     27.05| 5.0|Female|    No|Thur| Lunch|   6|0.18484288354898337|
|     28.15| 3.0|  Male|   Yes| Sat|Dinner|   5|0.10657193605683837|
|     29.85|5.14|Female|    No| Sun|Dinner|   5| 0.1721943048576214|
|     30.46| 2.0|  Male|   Yes| Sun|Dinner|   5|0.06565988181221273|
|     20.69| 5.0|  Male|    No| Sun|Dinner|   5| 0.2416626389560174|
|     41.19| 5.0|  Male|    No|Thur| Lunch|   5|0.12138868657441128|
|     24.59|3.61|Female|    No| Sun|Dinner|   4|0.14680764538430255|
|     18.29|3.76|  Male|   Yes| Sat|Dinner|   4|0.20557681793329688|
|     26.88|3.12|  Male|    No| Sun|Dinner|   4|0.11607142857142858|
|     40.17|4.73|  Male|   Yes| Fri|Dinner|   4| 0.1177495643515061|
|     39.42|7.58|  Male|    No| Sat|Dinner|   4|0.19228817858954844|
|     17.81|2.34|  Male|    No| Sat|Dinner|   4|0.13138686131386862|
|      30.4| 5.6|  Male|    No| Sun|Dinner|   4|0.18421052631578946|
|      32.4| 6.0|  Male|    No| Sun|Dinner|   4| 0.1851851851851852|
|     34.81| 5.2|Female|    No| Sun|Dinner|   4|0.14938236139040506|
|     25.56|4.34|  Male|    No| Sun|Dinner|   4| 0.1697965571205008|
|     38.01| 3.0|  Male|   Yes| Sat|Dinner|   4|0.07892659826361484|
+----------+----+------+------+----+------+----+-------------------+
only showing top 20 rows

### Filtering

In [30]:
df.where(df.tip < 4).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
|     20.29|2.75|Female|    No|Sat|Dinner|   2|0.13553474618038444|
|     15.77|2.23|Female|    No|Sat|Dinner|   2|0.14140773620798985|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [31]:
#pandas df[df.tip < 4]
mask = df.tip < 4
df.where(mask).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
|     20.29|2.75|Female|    No|Sat|Dinner|   2|0.13553474618038444|
|     15.77|2.23|Female|    No|Sat|Dinner|   2|0.14140773620798985|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [92]:
df.where((df.tip <2) | (df.smoker == 'Yes')).show()

+----------+----+------+------+---+------+----+-------------------+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|0.16054158607350097|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|0.13031914893617022|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551| 0.1665043816942551|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|0.10181582360570687|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816| 0.1616650532429816|
|      9.55|1.45|  Male|    No|Sat|Dinner|   2| 0.1518324607329843| 0.1518324607329843|
|      9.68|1.32|  Male|    No|Sun|Dinner|   2|0.13636363636363638|0.13636363636363638|
|      9.94|1.56|  Male|    No|Sun|Dinner|   2|0.15694164989939638|0.15694164989939638|
|     38.01| 3.0|  Male|   Yes|Sat|Dinner|   4|0.07892659826361484|0.07892659826361484|
|     26.41| 1.5|Female|    No|Sat|Dinner|   2|0.05679666792881484|0.05679666792881484|
|     11.24|1.76|  Male|   Yes|Sat|Dinner|   2|0.15658362989323843|0.15658362989323843|
|     20.29|3.21|  Male|   Yes|Sat|Dinner|   2| 0.1582060128141942| 0.1582060128141942|
|     13.81| 2.0|  Male|   Yes|Sat|Dinner|   2| 0.1448225923244026| 0.1448225923244026|
|     11.02|1.98|  Male|   Yes|Sat|Dinner|   2|0.17967332123411978|0.17967332123411978|
|     18.29|3.76|  Male|   Yes|Sat|Dinner|   4|0.20557681793329688|0.20557681793329688|
|      3.07| 1.0|Female|   Yes|Sat|Dinner|   1|0.32573289902280134|0.32573289902280134|
|     15.01|2.09|  Male|   Yes|Sat|Dinner|   2|0.13924050632911392|0.13924050632911392|
|     12.02|1.97|  Male|    No|Sat|Dinner|   2| 0.1638935108153078| 0.1638935108153078|
|     26.86|3.14|Female|   Yes|Sat|Dinner|   2|0.11690245718540582|0.11690245718540582|
+----------+----+------+------+---+------+----+-------------------+-------------------+
only showing top 20 rows

In [ ]:
df.where(df.tip < 4).where(df.smoker == 'Yes').show()

In [93]:
# single pipe character is or.
# another case where .filter and .where do the same thing.
df.filter((df.time == "Dinner") | (df.tip <= 2)).sort('tip').show()

+----------+----+------+------+----+------+----+-------------------+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|            tip_pct|            tip_pct|
+----------+----+------+------+----+------+----+-------------------+-------------------+
|      7.25| 1.0|Female|    No| Sat|Dinner|   1|0.13793103448275862|0.13793103448275862|
|      5.75| 1.0|Female|   Yes| Fri|Dinner|   2|0.17391304347826086|0.17391304347826086|
|      12.6| 1.0|  Male|   Yes| Sat|Dinner|   2|0.07936507936507936|0.07936507936507936|
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|0.32573289902280134|0.32573289902280134|
|     16.99|1.01|Female|    No| Sun|Dinner|   2|0.05944673337257211|0.05944673337257211|
|      12.9| 1.1|Female|   Yes| Sat|Dinner|   2|0.08527131782945736|0.08527131782945736|
|     32.83|1.17|  Male|   Yes| Sat|Dinner|   2|0.03563813585135547|0.03563813585135547|
|     10.51|1.25|  Male|    No| Sat|Dinner|   2|0.11893434823977164|0.11893434823977164|
|     10.07|1.25|  Male|    No| Sat|Dinner|   2|0.12413108242303872|0.12413108242303872|
|      8.51|1.25|Female|    No|Thur| Lunch|   2|0.14688601645123384|0.14688601645123384|
|      9.68|1.32|  Male|    No| Sun|Dinner|   2|0.13636363636363638|0.13636363636363638|
|     18.64|1.36|Female|    No|Thur| Lunch|   3|0.07296137339055794|0.07296137339055794|
|      7.56|1.44|  Male|    No|Thur| Lunch|   2|0.19047619047619047|0.19047619047619047|
|      7.74|1.44|  Male|   Yes| Sat|Dinner|   2|0.18604651162790697|0.18604651162790697|
|      9.55|1.45|  Male|    No| Sat|Dinner|   2| 0.1518324607329843| 0.1518324607329843|
|     10.77|1.47|  Male|    No| Sat|Dinner|   2|0.13649025069637882|0.13649025069637882|
|      8.52|1.48|  Male|    No|Thur| Lunch|   2|0.17370892018779344|0.17370892018779344|
|      8.35| 1.5|Female|    No|Thur| Lunch|   2|0.17964071856287425|0.17964071856287425|
|     11.59| 1.5|  Male|   Yes| Sat|Dinner|   2|0.12942191544434858|0.12942191544434858|
|     10.65| 1.5|Female|    No|Thur| Lunch|   2|0.14084507042253522|0.14084507042253522|
+----------+----+------+------+----+------+----+-------------------+-------------------+
only showing top 20 rows

In [94]:
#chaining the where here is similar to using AND
df.where(df.smoker == "Yes").where(df.day == "Sat").show()

+----------+----+------+------+---+------+----+-------------------+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+-------------------+
|     38.01| 3.0|  Male|   Yes|Sat|Dinner|   4|0.07892659826361484|0.07892659826361484|
|     11.24|1.76|  Male|   Yes|Sat|Dinner|   2|0.15658362989323843|0.15658362989323843|
|     20.29|3.21|  Male|   Yes|Sat|Dinner|   2| 0.1582060128141942| 0.1582060128141942|
|     13.81| 2.0|  Male|   Yes|Sat|Dinner|   2| 0.1448225923244026| 0.1448225923244026|
|     11.02|1.98|  Male|   Yes|Sat|Dinner|   2|0.17967332123411978|0.17967332123411978|
|     18.29|3.76|  Male|   Yes|Sat|Dinner|   4|0.20557681793329688|0.20557681793329688|
|      3.07| 1.0|Female|   Yes|Sat|Dinner|   1|0.32573289902280134|0.32573289902280134|
|     15.01|2.09|  Male|   Yes|Sat|Dinner|   2|0.13924050632911392|0.13924050632911392|
|     26.86|3.14|Female|   Yes|Sat|Dinner|   2|0.11690245718540582|0.11690245718540582|
|     25.28| 5.0|Female|   Yes|Sat|Dinner|   2|0.19778481012658228|0.19778481012658228|
|     17.92|3.08|  Male|   Yes|Sat|Dinner|   2|           0.171875|           0.171875|
|      44.3| 2.5|Female|   Yes|Sat|Dinner|   3|0.05643340857787811|0.05643340857787811|
|     22.42|3.48|Female|   Yes|Sat|Dinner|   2|0.15521855486173058|0.15521855486173058|
|     15.36|1.64|  Male|   Yes|Sat|Dinner|   2|0.10677083333333333|0.10677083333333333|
|     20.49|4.06|  Male|   Yes|Sat|Dinner|   2|0.19814543679843827|0.19814543679843827|
|     25.21|4.29|  Male|   Yes|Sat|Dinner|   2| 0.1701705672352241| 0.1701705672352241|
|     14.31| 4.0|Female|   Yes|Sat|Dinner|   2| 0.2795248078266946| 0.2795248078266946|
|     10.59|1.61|Female|   Yes|Sat|Dinner|   2|0.15203021718602455|0.15203021718602455|
|     10.63| 2.0|Female|   Yes|Sat|Dinner|   2|0.18814675446848542|0.18814675446848542|
|     50.81|10.0|  Male|   Yes|Sat|Dinner|   3|0.19681165124975397|0.19681165124975397|
+----------+----+------+------+---+------+----+-------------------+-------------------+
only showing top 20 rows

In [95]:
df.filter((df.time == "Dinner") & (df.tip <= 2)).sort('tip').show()

+----------+----+------+------+---+------+----+-------------------+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+-------------------+
|      3.07| 1.0|Female|   Yes|Sat|Dinner|   1|0.32573289902280134|0.32573289902280134|
|      5.75| 1.0|Female|   Yes|Fri|Dinner|   2|0.17391304347826086|0.17391304347826086|
|      12.6| 1.0|  Male|   Yes|Sat|Dinner|   2|0.07936507936507936|0.07936507936507936|
|      7.25| 1.0|Female|    No|Sat|Dinner|   1|0.13793103448275862|0.13793103448275862|
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|0.05944673337257211|
|      12.9| 1.1|Female|   Yes|Sat|Dinner|   2|0.08527131782945736|0.08527131782945736|
|     32.83|1.17|  Male|   Yes|Sat|Dinner|   2|0.03563813585135547|0.03563813585135547|
|     10.51|1.25|  Male|    No|Sat|Dinner|   2|0.11893434823977164|0.11893434823977164|
|     10.07|1.25|  Male|    No|Sat|Dinner|   2|0.12413108242303872|0.12413108242303872|
|      9.68|1.32|  Male|    No|Sun|Dinner|   2|0.13636363636363638|0.13636363636363638|
|      7.74|1.44|  Male|   Yes|Sat|Dinner|   2|0.18604651162790697|0.18604651162790697|
|      9.55|1.45|  Male|    No|Sat|Dinner|   2| 0.1518324607329843| 0.1518324607329843|
|     10.77|1.47|  Male|    No|Sat|Dinner|   2|0.13649025069637882|0.13649025069637882|
|     12.46| 1.5|  Male|    No|Fri|Dinner|   2| 0.1203852327447833| 0.1203852327447833|
|     11.59| 1.5|  Male|   Yes|Sat|Dinner|   2|0.12942191544434858|0.12942191544434858|
|     12.03| 1.5|  Male|   Yes|Fri|Dinner|   2|0.12468827930174564|0.12468827930174564|
|     26.41| 1.5|Female|    No|Sat|Dinner|   2|0.05679666792881484|0.05679666792881484|
|     15.69| 1.5|  Male|   Yes|Sun|Dinner|   2|0.09560229445506692|0.09560229445506692|
|      9.94|1.56|  Male|    No|Sun|Dinner|   2|0.15694164989939638|0.15694164989939638|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|0.10181582360570687|
+----------+----+------+------+---+------+----+-------------------+-------------------+
only showing top 20 rows

### Sidebar: spark performance
    
a *shuffle* requires looking at data from mulitple partitions, potentially reorganizing the data positions

## Aggregating

In [100]:
from pyspark.sql.functions import mean, min, max, count

In [101]:
df.show(5)

+----------+----+------+------+---+------+----+-------------------+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+-------------------+
only showing top 5 rows

In [102]:
#utilize groupby and .agg

In [106]:
df.groupby('time').agg(count('*').alias('number_observations')).show()

+------+-------------------+
|  time|number_observations|
+------+-------------------+
| Lunch|                 68|
|Dinner|                176|
+------+-------------------+

In [107]:
df.groupBy('time').agg(mean('tip')).show()

+------+------------------+
|  time|          avg(tip)|
+------+------------------+
| Lunch|2.7280882352941176|
|Dinner| 3.102670454545455|
+------+------------------+

In [108]:
df.groupBy('time').agg(min('tip'), mean('tip'), max('tip')).show()

+------+--------+------------------+--------+
|  time|min(tip)|          avg(tip)|max(tip)|
+------+--------+------------------+--------+
| Lunch|    1.25|2.7280882352941176|     6.7|
|Dinner|     1.0| 3.102670454545455|    10.0|
+------+--------+------------------+--------+

In [109]:
df.groupBy('time').agg(mean('tip').alias('avg_tip')).show()

+------+------------------+
|  time|           avg_tip|
+------+------------------+
| Lunch|2.7280882352941176|
|Dinner| 3.102670454545455|
+------+------------------+

In [110]:
df.groupBy('time', 'day').agg(mean('total_bill')).show()

+------+----+------------------+
|  time| day|   avg(total_bill)|
+------+----+------------------+
| Lunch|Thur|17.664754098360653|
|Dinner|Thur|             18.78|
| Lunch| Fri|12.845714285714285|
|Dinner| Fri| 19.66333333333333|
|Dinner| Sun|21.409999999999997|
|Dinner| Sat|20.441379310344825|
+------+----+------------------+

In [111]:
df.crosstab('time', 'day').show()

+--------+---+---+---+----+
|time_day|Fri|Sat|Sun|Thur|
+--------+---+---+---+----+
|   Lunch|  7|  0|  0|  61|
|  Dinner| 12| 87| 76|   1|
+--------+---+---+---+----+

In [112]:
df.groupBy('time').pivot('day').agg(mean('total_bill')).show()

+------+------------------+------------------+------------------+------------------+
|  time|               Fri|               Sat|               Sun|              Thur|
+------+------------------+------------------+------------------+------------------+
| Lunch|12.845714285714285|              null|              null|17.664754098360653|
|Dinner| 19.66333333333333|20.441379310344825|21.409999999999997|             18.78|
+------+------------------+------------------+------------------+------------------+

In [116]:
df.groupby('time', 'day').agg(sum('total_bill')).sort('time', 'day').show()

+------+----+------------------+
|  time| day|   sum(total_bill)|
+------+----+------------------+
|Dinner| Fri|235.95999999999998|
|Dinner| Sat|1778.3999999999996|
|Dinner| Sun|1627.1599999999999|
|Dinner|Thur|             18.78|
| Lunch| Fri|             89.92|
| Lunch|Thur|           1077.55|
+------+----+------------------+

In [117]:
#spark doesnt need list, pandas expects list
df.groupBy('time').pivot('day').agg(sum('total_bill')).show()

+------+------------------+------------------+------------------+-------+
|  time|               Fri|               Sat|               Sun|   Thur|
+------+------------------+------------------+------------------+-------+
| Lunch|             89.92|              null|              null|1077.55|
|Dinner|235.95999999999998|1778.3999999999996|1627.1599999999999|  18.78|
+------+------------------+------------------+------------------+-------+

In [114]:
#spark doesnt need list, pandas expects list
df.groupBy('time').pivot('day').agg(count('*').alias('n'), mean('total_bill')).show()

+------+-----+-------------------+-----+-------------------+-----+-------------------+------+--------------------+
|  time|Fri_n|Fri_avg(total_bill)|Sat_n|Sat_avg(total_bill)|Sun_n|Sun_avg(total_bill)|Thur_n|Thur_avg(total_bill)|
+------+-----+-------------------+-----+-------------------+-----+-------------------+------+--------------------+
| Lunch|    7| 12.845714285714285| null|               null| null|               null|    61|  17.664754098360653|
|Dinner|   12|  19.66333333333333|   87| 20.441379310344825|   76| 21.409999999999997|     1|               18.78|
+------+-----+-------------------+-----+-------------------+-----+-------------------+------+--------------------+

### `.crosstab` is just for counts, for other methods of summarizing groups, use `.groupBy` (maybe in combination with `.pivot`) + `.agg`.

In [115]:
df.crosstab('time', 'day').show()

+--------+---+---+---+----+
|time_day|Fri|Sat|Sun|Thur|
+--------+---+---+---+----+
|   Lunch|  7|  0|  0|  61|
|  Dinner| 12| 87| 76|   1|
+--------+---+---+---+----+

## Additional Features

### Spark SQL

In [118]:
# this is going to register a sql table with running spark instance.
df.createOrReplaceTempView('tips')

In [120]:
spark.sql('''
SELECT *
FROM tips
''').show(5)

+----------+----+------+------+---+------+----+-------------------+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+-------------------+
only showing top 5 rows

In [121]:
# find the tip, total_bill, and day with the highest overall sales for that day
spark.sql('''
SELECT tip, total_bill, day
FROM tips
WHERE day = (
    SELECT day
    FROM tips
    GROUP BY day
    ORDER BY sum(total_bill) DESC
    LIMIT 1
)    
''').show()

+----+----------+---+
| tip|total_bill|day|
+----+----------+---+
|3.35|     20.65|Sat|
|4.08|     17.92|Sat|
|2.75|     20.29|Sat|
|2.23|     15.77|Sat|
|7.58|     39.42|Sat|
|3.18|     19.82|Sat|
|2.34|     17.81|Sat|
| 2.0|     13.37|Sat|
| 2.0|     12.69|Sat|
| 4.3|      21.7|Sat|
| 3.0|     19.65|Sat|
|1.45|      9.55|Sat|
| 2.5|     18.35|Sat|
| 3.0|     15.06|Sat|
|2.45|     20.69|Sat|
|3.27|     17.78|Sat|
| 3.6|     24.06|Sat|
| 2.0|     16.31|Sat|
|3.07|     16.93|Sat|
|2.31|     18.69|Sat|
+----+----------+---+
only showing top 20 rows

### More Spark Dataframe Manipulation

In [45]:
df.where(
    df.time == 'Dinner'
).select(
    '*',
    (df.tip / df.total_bill).alias('tip_pct'),
).explain()

== Physical Plan ==
*(1) Project [total_bill#0, tip#1, sex#2, smoker#3, day#4, time#5, size#6L, (tip#1 / total_bill#0) AS tip_pct#255, (tip#1 / total_bill#0) AS tip_pct#1076]
+- *(1) Filter (isnotnull(time#5) AND (time#5 = Dinner))
   +- *(1) Scan ExistingRDD[total_bill#0,tip#1,sex#2,smoker#3,day#4,time#5,size#6L]

In [46]:
df.select(
    '*',
    (df.tip / df.total_bill).alias('tip_pct'),
).where(
    df.time == 'Dinner'
).explain()

== Physical Plan ==
*(1) Project [total_bill#0, tip#1, sex#2, smoker#3, day#4, time#5, size#6L, (tip#1 / total_bill#0) AS tip_pct#255, (tip#1 / total_bill#0) AS tip_pct#1086]
+- *(1) Filter (isnotnull(time#5) AND (time#5 = Dinner))
   +- *(1) Scan ExistingRDD[total_bill#0,tip#1,sex#2,smoker#3,day#4,time#5,size#6L]

### Mixing in SQL Expressions

In [47]:
from pyspark.sql.functions import expr

Expr lets us mix in parts of SQL into our dataframes

In [48]:
df.select(
    '*',
    expr('tip / total_bill as tip_pct')
).where(
    expr('day = "Sun" AND time = "Dinner"')
).show()

+----------+----+------+------+---+------+----+-------------------+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|0.20624631703005306|
|     17.46|2.54|  Male|    No|Sun|Dinner|   2|0.14547537227949597|0.14547537227949597|
+----------+----+------+------+---+------+----+-------------------+-------------------+
only showing top 20 rows

## Joins

In [49]:
df1 = spark.createDataFrame(pd.DataFrame({
    'id': np.arange(100) + 1,
    'x': np.random.randn(100).round(3),
    'group_id': np.random.choice(range(1, 7), 100),
}))
df2 = spark.createDataFrame(pd.DataFrame({
    'id': range(1, 7),
    'group': list('abcdef')
}))
df1.show(5)
df2.show()

+---+------+--------+
| id|     x|group_id|
+---+------+--------+
|  1|  0.73|       3|
|  2|-0.093|       4|
|  3| 1.172|       1|
|  4| 0.432|       1|
|  5|  1.23|       1|
+---+------+--------+
only showing top 5 rows

+---+-----+
| id|group|
+---+-----+
|  1|    a|
|  2|    b|
|  3|    c|
|  4|    d|
|  5|    e|
|  6|    f|
+---+-----+

In [50]:
df_merged = df1.join(df2, df1.group_id == df2.id)
df_merged.show(5)

+---+------+--------+---+-----+
| id|     x|group_id| id|group|
+---+------+--------+---+-----+
|  6| 0.023|       6|  6|    f|
| 17| 0.048|       6|  6|    f|
| 18|-0.332|       6|  6|    f|
| 25|-0.601|       6|  6|    f|
| 31|  0.73|       6|  6|    f|
+---+------+--------+---+-----+
only showing top 5 rows

In [51]:
df1.join(df2.withColumnRenamed('id', 'group_id'), 'group_id').show(5)

+--------+---+------+-----+
|group_id| id|     x|group|
+--------+---+------+-----+
|       6|  6| 0.023|    f|
|       6| 17| 0.048|    f|
|       6| 18|-0.332|    f|
|       6| 25|-0.601|    f|
|       6| 31|  0.73|    f|
+--------+---+------+-----+
only showing top 5 rows